# dnspx configuration

# 服务监听地址
server_listen: "127.0.0.1:53"

# 服务器运行的进程优先级，值为 -20 到 19，仅 Unix 环境有效
process_priority: 0

# 日志相关配置
loglevel: "info"

# 向上游 DNS 服务器查询时的默认超时时间
query_timeout: 2
# 向海外 DNS 服务器查询时的超时时间
foreign_query_timeout: 5

# 开启查询缓存
enable_dns_cache: true
dns_cache_size: 512

# 开启本地 hosts 文件支持
enable_local_hosts: true
local_hosts_path: null

# 上游公共 DNS 服务器
nameservers:
    - "114.114.114.114"
    - "119.29.29.29"
    - "223.5.5.5"
    - ["1.1.1.1", "foreign", "CloudFlare DNS，号称全球最快的 DNS 服务"]
    - ["8.8.8.8", "foreign", "Google Public DNS"]
    - ["208.67.222.222", "foreign", "OpenDNS"]
    - "https://dns.alidns.com/dns-query"
    - "https://doh.pub/dns-query"
    - "https://doh.360.cn/dns-query"
    - "https://dns.adguard-dns.com/dns-query"
    - ["https://doh.opendns.com/dns-query", "foreign", "OpenDNS DoH"]
    - ["https://dns.google/dns-query", "foreign", Google DoH]
    - ["https://cloudflare-dns.com/dns-query", "foreign", "CloudFlare DNS DoH"]
    - ["https://101.101.101.101/dns-query", "foreign", "台湾 Quad 101 DoH"]

# 上游 DNS 服务器组（主要用于实现分流查询），以 nameserver_group 开头
nameserver_group_foreign:  # 海外 DNS 服务器组
    - ["https://1.1.1.1/dns-query", "foreign", "CloudFlare DoH IP"]
    - ["1.1.1.1", "foreign"]  # CloudFlare
    - ["8.8.8.8", "foreign"]  # Google

nameserver_group_tencent:
    - 119.29.29.29
    - https://doh.pub/dns-query  # IP: https://1.12.12.12/dns-query

nameserver_group_baidu:
    - 180.76.76.76

nameserver_group_ali:
    - 223.5.5.5
    - https://dns.alidns.com/dns-query

nameserver_group_360:
    - 101.226.4.6  # 中国电信/铁通/移动
    - 123.125.81.6  # 中国联通
    - https://doh.360.cn/dns-query

nameserver_group_114:
    - 114.114.114.114

nameserver_group_cnnic:  # 中国互联网络信息中心
    - 1.2.4.8

# 域名组（主要用于实现分流查询），以 domain_group 开头
domain_group_ali:
    - taobao.com
    - aliyun.com
    - ele.me
    - alidns.com
    - alipay.com
    - alipayplus.com
    - cainiao.com
    - 1688.com
    - alikunlun.com
    - alibaba.com
    - etao.com
    - taobaocdn.com
    - tb.cn
    - tbcache.com
    - tbcdn.cn
    - tmall.com
    - aliyuncs.com
    - alibabadns.com
    - alicdn.com
    - alicloudapi.com
    - aliyuncdn.com
    - aliyuncdn.net
    - aliyunfile.com
    - aliyunpds.com
    # 蚂蚁集团
    - antfin.com
    # 夸克
    - cueme.cn
    - quark.cn
    # 飞猪
    - alitrip.com
    - feizhu.cn
    - feizhu.com
    - fliggy.com
    - iuynfg.com
    # 高德
    - amap.com
    # 虾米音乐
    - xiami.com
    - xiami.net
    # 闲鱼
    - goofish.com
    # 考拉
    - kaola.com
    # 盒马
    - freshhema.com
    - freshippo.com
    - hemamax.com
    - hemaos.com
    - hemashare.cn
    - shyhhema.com

domain_group_tencent:
    - qq.com
    - qmail.com
    - weixin.com
    - doh.pub
    - dot.pub
    - tencent.com
    - tencent.cn
    - dnspod.cn
    - sogou.com
    - weixinbridge.com
    - tencent-cloud.net
    - tencentcloud.com
    - tencentsuite.com
    - qpic.cn
    - qlogo.cn
    - idqqimg.com
    - myqcloud.com
    - wxworklive.com
    - soso.com
    - tenpay.com

domain_group_baidu:
    - baidu.com
    - baidu-ads.com
    - baiduads.com
    - bdydns.cn
    - dudns.com

domain_group_360:
    - 360.net
    - 360.cn
    - 360.com
    - qihoo.com
    - so.com
    - ludashi.com

domain_group_apple:
    - apple.com
    - apple.cn
    - apple.com.cn
    - apple-dns.net
    - apple-cloudkit.com
    - icloud.com
    - aaplimg.com
    - mzstatic.com
    - apple-icloud.cn
    - appleicloud.cn
    - applemx-icloud.com
    - icloud-apple.cn
    - icloud-content.com
    - icloud-isupport.com
    - icloud-sandbox.com
    - icloud.com
    - icloud.com.cn
    - aplestore.com
    - applestore.cm
    - applestore.cn
    - apple-store.cn
    - apple-store.net
    - onlineapplestore.com
    - apple-imac.com
    - appleimac.com
    - imac-apple.com
    - imac-applecomputer.com
    - imac.com
    - imacapple.com
    - imacapplecomputer.com
    - ebookforipad.com
    - euroipad.com
    - findmyipad.com
    - indiaipad.com
    - ipadaustralia.com
    - ipadmini.cm
    - ipadpro.buzz
    - ukipad.com
    - appledarwin.com
    - appledarwin.net
    - darwinsource.com
    - darwinsource.org
    - darwinsourcecode.com
    - appleaccount.net
    - appleid-applemx.com
    - appleid-iclou.com
    - appleid.berlin
    - appleid.com
    - appleid.hamburg
    - appleid.hk
    - ids-apple.com
    - myappleid.com

domain_group_google:
    - google.com
    - youtube.com
    - dns.google
    - googleearth.com
    - googlefiber.com
    - googlefiber.net
    - googlefinland.com
    - googlemail.com
    - googlemaps.com
    - googlepagecreator.com
    - googlephotos.com
    - googleplus.com
    - googlesource.com
    - googlestore.com
    - googlesverige.com
    - googleusercontent.com
    - googleventures.com
    - googlezip.net
    - gstatic.com
    - gsuite.com
    - googleplay.com
    - play-fe.googleapis.com
    - play-games.googleusercontent.com
    - play-lh.googleusercontent.com
    - play.google.com
    - play.googleapis.com

domain_group_telegram:
    - telegram.org
    - t.me
    - telegram.me
    - telegram.dog
    - telegram.space
    - tg.dev
    - tx.me
    - tdesktop.com

domain_group_foreign:
    - github.com
    - github.io
    - githubusercontent.com
    - stackoverflow.com
    - yahoo.com
    - amazon.com
    - facebook.com
    - twitter.com
    - x.com
    - instagram.com
    - netflix.com
    - pinterest.com
    - quora.com
    - reddit.com
    - discord.com
    - ask.com
    - duckduckgo.com
    - full:wikipedia.org
    - full:www.wikipedia.org
    - python.org
    - bitbucket.org
    - gnome-look.org
    - googleapis.com
    - gitbook.com
    - wordpress.com
    - opendns.com
    - cloudflare-dns.com
    - v2ray.com
    - v2fly.org
    - v2ray.ws
    - binance.com
    - okx.com
    - gitlab.com
    - golang.org
    - amazonaws.com
    - openai.com
    - chatgpt.com
    - anthropic.com
    - claude.ai


# 开启海外域名用海外 DNS 解析功能（该功能已经废弃，建议使用分流查询）
enable_foreign_resolve: false
foreign_domains: domain_group_foreign

# 开启分流查询
enable_split_resolve: true
split_resolve_map:
    domain_group_baidu: nameserver_group_baidu
    domain_group_tencent: nameserver_group_tencent
    domain_group_ali: nameserver_group_ali
    domain_group_360: nameserver_group_360
    domain_group_apple: nameserver_group_tencent
    domain_group_google: nameserver_group_foreign
    domain_group_telegram: nameserver_group_foreign
    domain_group_foreign: nameserver_group_foreign
